<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	<header id="main-header" th:fragment="mainHeader">
		<div id="resolution"></div>
		<div id="logo">
			<h1 class="logo">Game Fan</h1>
			<h3 class="subtitle">Rummy Online</h3>
		</div>
		<th:block th:if="${logged}">
			<form id="logout-form" th:action="@{/logout}" method="post">
				<div id="logout-container">
					<div id="logout-text">
						<span th:text="${username}"></span>
					</div>

					<input type="submit" class="btn" value="Logout"/>
				</div>
			</form>
		</th:block>


		<nav>
			<ul class="main-menu">
				<li><a href="/" >Home</a></li>
				<li><a href="/about-us">About us</a></li>
				<li><a href="/how-to-play">How to play</a></li>
				<li><a href="/rules">Rules</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</header>
</body>
</html>