#content {
    width: 100%;
}

main {
    display: flex;
    margin: 15px;
    justify-content: center;
    margin-bottom: 100px;
}

main form {
    width: 25%;
}

.text-input {
    max-width: none;
}

#registration-field {
}

#registration-header {
    margin: 0px;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 20px;
    max-width: 100%;
}

.agreement {
    word-wrap: break-word;
}

.agreement a {
    display: inline-block;
}

#submit-btn-container {
    text-align: center;
    padding: 10px 0px;
}

@media (max-width:992px) {
    main form {
        width: 100%!important;
        max-width: 100%;
        margin-bottom: 100px;
    }

    main {
        height: unset;
    }
}