#main-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #1E1E1E;
    width: 99%;
    height: 99%;
    display: flex;
}

main > * {
    display: inline-block;
    height: 100%;
}

#game-board {
    flex: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-controllers {
    flex: 20%;
}

#game-fields {
    background-color: green;
    height: 97%;
    width: 98%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.3fr 0.7fr 0.7fr 1.3fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row dense;
    grid-template-areas:
        "player-4 player-4 player-4 player-4 player-4 player-5 player-5 player-5 player-5 player-5 player-6 player-6 player-6"
        "player-4 player-4 player-4 player-4 player-4 player-5 player-5 player-5 player-5 player-5 player-6 player-6 player-6"
        "player-4 player-4 player-4 player-4 player-4 player-5 player-5 player-5 player-5 player-5 player-6 player-6 player-6"
        "player-3 player-3 player-3 . . thrown-card thrown-card thrown-card . . player-6 player-6 player-6"
        "player-3 player-3 player-3 . . thrown-card thrown-card thrown-card . . player-6 player-6 player-6"
        "player-3 player-3 player-3 player-2 player-2 player-2 player-2 player-2 player-1 player-1 player-1 player-1 player-1"
        "player-3 player-3 player-3 player-2 player-2 player-2 player-2 player-2 player-1 player-1 player-1 player-1 player-1"
        "player-3 player-3 player-3 player-2 player-2 player-2 player-2 player-2 player-1 player-1 player-1 player-1 player-1";
}

/**********************************************************************************************************************/
#game-fields > * {
    overflow: hidden;
}

#player-1 {
    grid-area: player-1;
}
#player-2 {
    grid-area: player-2;
}
#player-3 {
    grid-area: player-3;
    scale: -1 1;
    /*background: blue;*/
}
#player-4 {
    grid-area: player-4;
}
#player-5 {
    grid-area: player-5;
}
#player-6 {
    grid-area: player-6;
    /*background: black;*/
}
#thrown-card {
    grid-area: thrown-card;
    display: flex;
    align-items: center;
    justify-content:center;
}

#thrown-card-container {
    width: 4.4271vw;
    height: 14.1824vh;
    border: 3px solid #1c8a1c;
}

/** Players fields **/
#player-1, #player-2, #player-4, #player-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
#player-4, #player-5 {
    scale: 1 -1;
}
#player-3, #player-6  {
    display: flex;
    align-items: center;
}

/** Card in hand **/
#hand-cards-1, #hand-cards-2, #hand-cards-4, #hand-cards-5 {
    height: 14%;
    margin-top: 9px;
}
#hand-cards-3 {
    margin-top: -4.1667vw;
    margin-left: 9px;
    min-width: 4.4271vw;
}
#hand-cards-6 {
    margin-top: 3.188vw;
    margin-left: 2.7604vw;
    scale:-1;
}

/** Cards **/

.card {
    width: 4.4271vw;
    height: auto;
}

.normal {
    margin-right: -3.6458vw;
    float: left;
}

.upside-down {
    margin-right: -3.6458vw;
    float: right;
    scale: -1 1;
    translate: -3.6458vw;
}

.left-side {
    rotate: 90deg;
    transform-origin: top right;
    translate: 2.2395vw 10.3042vw;
    margin-top: -7.646vw;
}

.right-side {
    rotate: 90deg;
    transform-origin: top right;
    translate: 2.2395vw 10.3042vw;
    margin-top: -7.646vw;
}

.draggable {
    cursor: move;
}

.draggable:hover {
    border-radius: 10px;
    border: 3px solid #ff0000;
}

.dragging {
}

/** Sequences **/
.sequences-normal {
    height: 80%;
    width: 97%;
}

.sequences-side {
    height: 97%;
    min-width: 82%;
}

.sequences {
    border: 3px solid white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.sequence {
    border: 3px solid #1c8a1c;
}

.sequence-normal, .sequence-upside-down {
    display: inline-block;
    word-wrap: break-word;
    min-width: 47%;
    min-height: 47%;
}

.sequence-upside-down {
    /*scale: -1;*/
}

.sequence-left-side, .sequence-right-side {
    min-width: 46%;
    min-height: 47%;
}

.sequence-left-side {
    width: 6.427vw;
    height: 4.4271vw;
    scale: -1 1;
}

.sequence-right-side {
    width: 6.427vw;
    height: 4.4271vw;
    scale: -1;
}

/**********************************************************************************************************************/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}



#exit-btn {
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 5px;
    padding: 0;
}

#exit-btn a {
    text-decoration: none;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

#player-slots {
    margin-top: 10px;
    margin-left: 10px;
}

.player-slot {
    display: inline-block;
    width: calc(50% - 15px);
    height: 45px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.slot-label {
    height: 16px;
    width: 100%;
    font-size: 10px;
    background-color: #781E1E;
}

.slot-btn {
    width: 100%;
    height: 65%;
    border-radius: 0;
    padding: 0;
}

.taken-slot {
    background-color: #fff;
    height: calc(100% - 16px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.square-btn {
    width: 1.041667vw;
    height: 2.226vh;
    text-align: center;
    margin-top: 4px;
    margin-right: 4px;
}

#info {
    width: 95%;
    height: 25%;
    background-color: #303030;
}

#controllers {
    margin-top: 25px;
    padding-top: 25px;
    margin-right: 10px;
    border-top: 3px solid #111111;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.popup {
    display: none;
    position: fixed;

    background-color: #781E1E;
    align-items: center;
    justify-content: center;
}

.popup-visible {
    display: flex;
}

.popup-inside {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 3px solid white;

    display: flex;

    align-items: center;
    justify-content: center;
}

.popup-joker-inside {
    background-color: #1E1E1E;
    flex-direction: column;
    justify-content: space-evenly;
}

#waiting {
    width: 400px;
    height: 150px;
}

#starting-countdown {
    width: 400px;
    height: 150px;
}

#joker-figure {
    width: 20%;
    height: 40%;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}