<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Game Fan - Registration</title>
	<meta name="description" content="Rummy Online">
	<meta name="keywords" content="Rummy, RummyGame, Cards, CardsGame, Game, Online, Multiplayer">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link rel="stylesheet" type="text/css" href="/css/forget-password-sent.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
	<!-- JS Scripts -->
	<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
	<script src="/js/resolution.js" defer></script>
</head>

<body>
	<header th:replace="~{fragments/main-header :: mainHeader}"></header>

	<div id="main-content">
		<main>
			<h4>Message Sent!</h4>
			<p>We've just sent an email to the address you provided with a link to reset your password.</p>
			<p>The link will expire after 30 minutes from the time the email was sent.</p>
			<p>Don't forget to check your spam folder if you don't see the email in your main inbox.</p>
			<p>If you encounter any issues, please contact our support team.</p>
			<p>Cheers,</p>
			<p>Game Fun</p>
		</main>
	</div>

	<footer th:replace="~{fragments/main-footer :: mainFooter}"></footer>
</body>

</html>