<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Game Fan</title>
	<meta name="description" content="Rummy Online">
	<meta name="keywords" content="Rummy, RummyGame, Cards, CardsGame, Game, Online, Multiplayer">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link rel="stylesheet" type="text/css" href="/css/home.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
	<!-- JS Scripts -->

</head>

<body>
	<header th:replace="~{fragments/main-header :: mainHeader}"></header>

	<div id="main-content">
		<div class="side" id="leftSide">
			<img id="cards" src="/img/cards.png" />
		</div>
		<div class="side" id="rightSide">
			<main>
				<th:block th:if="${logged}">
					<fieldset th:id="login-field">
						<div th:id="submit-btn-container"><a href="/lobby" class="btn">Go to Lobby</a></div>
					</fieldset>

				</th:block>

				<th:block th:unless="${logged}">
					<form th:action="@{/login}" method="post">
						<fieldset th:id="login-field">
							<h3 id="login-header">Login</h3>

							<label>Nick Name <input id="nickName" class="text-input" type="text" name="nickName" placeholder="nick name" required=""/></label>

							<label>Password	<input id="password" class="text-input" type="password" name="password" placeholder="password" required=""/></label>

							<div th:id="submit-btn-container"><input class="btn" type="submit" value="Login"/> </div>

							<div><a href="/registration">Register</a></div>

							<div><a href="/forget-password">Forget password?</a></div>

						</fieldset>
					</form>
				</th:block>
			</main>
		</div>
	</div>

	<footer th:replace="~{fragments/main-footer :: mainFooter}"></footer>
</body>

</html>