<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Game Fan</title>
	<meta name="description" content="Rummy Online">
	<meta name="keywords" content="Rummy, RummyGame, Cards, CardsGame, Game, Online, Multiplayer">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link rel="stylesheet" type="text/css" href="/css/validation-token-expired.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
	<!-- JS Scripts -->
	<script src="/js/resolution.js" defer></script>
</head>

<body>
	<header th:replace="~{fragments/main-header :: mainHeader}"></header>

	<main>
		<div id="main-content">
			<h3>Email Verification Failure!</h3>
			<p>Unfortunately, the verification of your email address has failed because the verification link has expired.</p>
			<p>We have resent you a new verification link. If you haven't got it yet pleas check spam folder. </p>

			<p>If spam folder not contain it, and you haven't got message, push button below to resend verification link.</p>
			<button class="btn" th:onclick="'window.location.href=\'/email-verification/resend-email?userId=' + ${userId} + '\''">Resend Verification Link</button>

			<p>If you still haven't received the email, please contact us.</p>

			<p>Make sure you click on the latest verification link.</p>
		</div>
	</main>

	<footer th:replace="~{fragments/main-footer :: mainFooter}"></footer>
</body>

</html>